.container {
    display: flex;
}

.headerlist {
    margin-right: 32px;
    font-familly: Meiryo;
}

.article {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;

}

.article img {
    height: 160px;
    width: 320px;
}

.article1 {
    height: 160px;
    width: 320px;

}

.article2 {
    height: 160px;
    width: 320px;

}

.article3 {
    height: 160px;
    width: 320px;

}

.article h2 {
    overflow: hidden;
}

.headerright {
    text-align: right;
    margin-right: 20px;
}

.headerright img {
    vertical-align: middle;
}

.button {
    border-radius: 5px;
    background-color: green ;
    border-color: green;
    color: white;
    width: 80px;
    height: 30px;
    text-align: center;
    padding: 10px 20px;
}

